.intro__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  /* margin: -18px 0 0 -55px; */
  margin: 0;
  white-space: pre-line;
}

@media screen and (max-width: 320px) {
  .intro__list {
    /* margin: -18px 0 0 0; */
  }
}
