.lead {
  padding: 56px 148px 0 148px;
  /* margin: 56px auto 0 auto; */
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0 48px;
  }
}
