.cover__subtitle {
  left: 460px;
  position: absolute;
  top: 440px;
  text-align: center;
  max-width: 28%;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  /* margin: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: calc(100% - 824px); */
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    left: 330px;
    top: 420px;
    max-width: 35%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    left: 200px;
    top: 315px;
    max-width: 48%;
  }
}
