.photo-grid__ul {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 13px 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(4, 284px); */
  /* grid-template-rows: repeat(3, 213px); */
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .photo-grid__ul {
    gap: 12px 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__ul {
    gap: 8px;
  }
}
