.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  max-width: 50%;
  margin: 0 auto 64px auto;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 85%;
    margin: 0 192px 56px 192px;
  }
}
