.cover {
  padding: 12px 48px 0;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 880px) {
  .cover {
    min-height: 480px;
    padding-top: 18px;
  }
}

@media screen and (max-width: 690px) {
  .cover {
    min-height: 200px;
    padding-top: 0px;
  }
}
