.place__website_margin-l {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .place__website_margin-l {
    margin-top: -20px;
  }
}

@media screen and (max-width: 320px) {
  .place__website_margin-l {
    margin-top: -15px;
  }
}
