.popup__form-reconstPass {
  display: none;
  height: 450px;
  width: 550px;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 45px 25px;
  margin: 0 auto;
}
