.cover__title {
  max-width: 48%;
  margin: 0 0 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 50%;
  }
}

@media screen and (max-width: 880px) {
  /* @media screen and (max-width: 768px) { */
  .cover__title {
    max-width: 70%;
  }
}

@media screen and (max-width: 690px) {
  /* @media screen and (max-width: 320px) { */
  .cover__title {
    max-width: 76%;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
