.cover__title {
  /* flex-direction: column; */
  /* left: 120px; */
  left: 385px;
  position: absolute;
  top: 258px;
  max-width: 40%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0 0 30px 0;
  text-align: center;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* margin: auto; */
}

/* .cover__title:hover ~ .cover__background {
  background: #2a2c2f;
  opacity: 0.2;
} */

@media screen and (max-width: 1024px) {
  .cover__title {
    left: 255px;
    top: 230px;
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    left: 115px;
    top: 135px;
    max-width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    left: 37px;
    top: 50px;
    max-width: 76%;
  }
}
