.place {
  grid-column-gap: 40px;
  grid-template-columns: 460px 1fr;
  margin-bottom: 80px;
  display: grid;
  grid-template-areas:
    "title website"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 30px;
    grid-template-columns: 440px 1fr;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 880px) {
  .place {
    grid-column-gap: 28px;
    grid-template-columns: 340px 1fr;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 690px) {
  .place {
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    grid-template-columns: 320px 1fr;
    margin-bottom: 50px;
  }
}
