.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
  /* margin: auto; */
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 85px 24px 24px 24px;
  }
}
