.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}

/* @media screen and (max-width: 320px) { */
@media screen and (max-width: 690px) {
  .header__lang-links {
    margin-bottom: 8px;
  }
}
