.place__website {
  grid-area: website;
  align-self: flex-end;
  margin-bottom: 45px;
}

@media screen and (max-width: 690px) {
  /* @media screen and (max-width: 320px) { */
  .place__website {
    margin-left: 16px;
    margin-bottom: 0;
  }
}
