.place__website {
  grid-area: website;
  /* margin-left: 40px; */
  /* display: grid; */
  /* align-self: center; */
  /* align-content: center; */
  align-self: flex-end;
  margin-bottom: 45px;
}

@media screen and (max-width: 1024px) {
  .place__website {
    /* margin-left: 30px; */
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    /* margin-left: 28px; */
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
    max-width: 50%;
    /* margin-bottom: 32px; */
  }
}
